<!DOCTYPE html>
<html title="On Call Scheduler">
<head>
        <meta http-equiv="refresh" content="60">
        <meta  http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <script type="text/javascript" src="/scripts/jquery.min.js.download"></script>
        <!--Load Script and Stylesheet -->
        <script type="text/javascript" src="/scripts/jquery.simple-dtpicker.js.download"></script>
        <link type="text/css" href="/scripts/jquery.simple-dtpicker.css" rel="stylesheet">

</head>
